body{
  padding: 3rem;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
input{
  border: 1px solid grey;
  width: 6.5rem;
  height: 1.5rem;
  transition: .2 ease-in;
  margin-left: 4px;
}
input:hover{
  border: 2px solid rgb(16, 16, 232);
}
button{
  width: fit-content;
  height: 1.7rem;
  /* margin-top: 30px; */
  cursor: pointer;
  border-radius: 2px;
}

#remove{
  margin-left: 4px;
  margin-top: 20px;
}

.button-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2rem;
}

.input-section{
  display: flex;
  flex-direction: column;
}
.form-section{
  display: flex;

}
.text-color{
  color: rgb(17, 118, 219);
}
.Logic div{
  font-size: x-large;
  font-weight: 500;
}

.Logic div h3{
  
}